<ion-row>
	<ion-column>
		<peg [pegColor]="color1" (click)="selectedColor(color1)"></peg>
	</ion-column>
	<ion-column>
		<peg [pegColor]="color2" (click)="selectedColor(color2)"></peg>
	</ion-column>
	<ion-column>
		<peg [pegColor]="color3" (click)="selectedColor(color3)"></peg>
	</ion-column>
	<ion-column>
		<peg [pegColor]="color4" (click)="selectedColor(color4)"></peg>
	</ion-column>
	<ion-column>
		<peg [pegColor]="color5" (click)="selectedColor(color5)"></peg>
	</ion-column>
	<ion-column>
		<peg [pegColor]="color6" (click)="selectedColor(color6)"></peg>
	</ion-column>
</ion-row>
