<ion-row class="colorOptions rounded">
	<ion-column class="thin-padding">
		<peg [pegColor]="color1" 
			 [pegSize]="'2x'" 
			 (click)="selectedColor(color1)"></peg>
	</ion-column>
	<ion-column class="thin-padding">
		<peg [pegColor]="color2" 
			 [pegSize]="'2x'" 
			 (click)="selectedColor(color2)"></peg>
	</ion-column>
	<ion-column class="thin-padding">
		<peg [pegColor]="color3" 
			 [pegSize]="'2x'" 
			 (click)="selectedColor(color3)"></peg>
	</ion-column>
	<ion-column class="thin-padding">
		<peg [pegColor]="color4" 
			 [pegSize]="'2x'" 
			 (click)="selectedColor(color4)"></peg>
	</ion-column>
	<ion-column class="thin-padding">
		<peg [pegColor]="color5" 
			 [pegSize]="'2x'" 
			 (click)="selectedColor(color5)"></peg>
	</ion-column>
	<ion-column class="thin-padding">
		<peg [pegColor]="color6" 
			 [pegSize]="'2x'" 
			 (click)="selectedColor(color6)"></peg>
	</ion-column>
</ion-row>
