<ion-row>
	<turnSet [code]="code" [isActiveInput]="turnActive[0]" (endTurn)="activateNextTurn(0)"></turnSet>
</ion-row>
<ion-row>
	<turnSet [code]="code" [isActiveInput]="turnActive[1]" (endTurn)="activateNextTurn(1)"></turnSet>
</ion-row>
<ion-row>
	<turnSet [code]="code" [isActiveInput]="turnActive[2]" (endTurn)="activateNextTurn(2)"></turnSet>
</ion-row>
<ion-row>
	<turnSet [code]="code" [isActiveInput]="turnActive[3]" (endTurn)="activateNextTurn(3)"></turnSet>
</ion-row>
<ion-row>
	<turnSet [code]="code" [isActiveInput]="turnActive[4]" (endTurn)="activateNextTurn(4)"></turnSet>
</ion-row>
<ion-row>
	<turnSet [code]="code" [isActiveInput]="turnActive[5]" (endTurn)="activateNextTurn(5)"></turnSet>
</ion-row>
