<ion-row>
	<turnSet [code]="code" 
			 [isActiveInput]="turnActive[0]"
			 [isLastTurn]="falseHack" 
			 (endTurn)="activateNextTurn(0)"
			 (winEmit)="win($event.value)"></turnSet>
</ion-row>
<ion-row>
	<turnSet [code]="code" 
			 [isActiveInput]="turnActive[1]"
			 [isLastTurn]="falseHack" 
			 (endTurn)="activateNextTurn(1)"
			 (winEmit)="win($event.value)"></turnSet>
</ion-row>
<ion-row>
	<turnSet [code]="code" 
			 [isActiveInput]="turnActive[2]"
			 [isLastTurn]="falseHack" 
			 (endTurn)="activateNextTurn(2)"
			 (winEmit)="win($event.value)"></turnSet>
</ion-row>
<ion-row>
	<turnSet [code]="code" 
			 [isActiveInput]="turnActive[3]"
			 [isLastTurn]="falseHack" 
			 (endTurn)="activateNextTurn(3)"
			 (winEmit)="win($event.value)"></turnSet>
</ion-row>
<ion-row>
	<turnSet [code]="code" 
			 [isActiveInput]="turnActive[4]"
			 [isLastTurn]="falseHack" 
			 (endTurn)="activateNextTurn(4)"
			 (winEmit)="win($event.value)"></turnSet>
</ion-row>
<ion-row>
	<turnSet [code]="code" 
			 [isActiveInput]="turnActive[5]"
			 [isLastTurn]="trueHack" 
			 (endTurn)="activateNextTurn(5)"
			 (winEmit)="win($event.value)"></turnSet>
</ion-row>
{{ isWinner }}
